/* App.css */

.consulta {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.consulta .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.consultas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.consultas .card {
  padding: 1rem;
}

.consultas .consulta .delete {
  display: flex;
  transition: all ease-in-out 0.2s;
}

.consultas .consulta .delete:hover {
  box-shadow: 0 5px 10px 0 #0d425440;
}
